@media (max-width:1024px) {
    .topics-desc-highlight {
        font-size: 11px;
        padding: 2px;
        display: flex;
        align-items:center;
        padding-left: 12px;
        
    }

    .top-hide {
        display: none;
    }
}



@media (max-width:786px) {
    .top-div {
        font-size: 17px;
    }

    .top-button-cat, .top-button-1, .top-button-2, .top-button-3, .top-button5 {
        font-size: 15px;
        padding: 2px;
    }

    .top-hide {
        display: none;
    }

    .topic-author-img, .topics-reps, .topics-views, .topics-act, .topic-rep {
        display: none;
    }
}


@media (max-width:768px) {
    .top-button-3 {
        display: none;
    }
}

@media (max-width:425px) {
    .top-div {
        width: 270px;
        font-size: 14px;
    }

    .top-button-cat, .top-button-1, .top-button-2, .top-button-3, .top-button5 {
        font-size: 11px;
        padding: 1px;
        text-align: center;
       
    }

    .top-links-container {
        display: flex;
        flex-direction: row;
       
    }
    
    .topics-lists-title {
        font-size: 14px;
    }

    .topics-desc {
        width: 10000px;
        font-size: 12px;
    }

    .topic-topic {
        font-size: 14px;
    }

    .topics-desc-highlight{
        padding-right: 10px;
    }
}

@media (max-width:375px) {
    .top-div {
        width: 230px;
        font-size: 12px;
    }

    .top-button-cat, .top-button-1, .top-button-2, .top-button-3, .top-button5 {
        font-size: 10px;
        padding: 1px;
        text-align: center;  
    }
}

@media (max-width:320px) {
    .top-div {
        width: 215px;
        font-size: 10px;
    }
}